body {
    display: flex;
    flex-direction: column;
    gap:50px;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

#List {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
}

.task-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: whitesmoke;
    justify-content: center;
    text-align: center;
    padding: 16px 24px;
}

.task-item button {
    border: none;
    padding: 10px;
    background-color: darkcyan;
    border-radius: 5px;
}